<%- include ../partials/header%>
<div class="container">
    <ul>
        <li><a href="/category/english">English</a></li>
        <li><a href="/category/monetary">Monetary</a></li>
        <li><a href="/category/business">Business Enviornemnt</a></li>
        <li><a href="/category/marketing">Marketing</a></li>
        <li><a href="/category/management">Business Management</a></li>
        <li><a href="/category/accounts">Financial Accounting</a></li>
    </ul>
</div>
<%- include ../partials/footer%>
